In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as pyplot
from sklearn.model_selection import train_test_split

pd.set_option("display.float_format", lambda x : "{:.2f}".format(x))
np.set_printoptions(suppress=True)

In [7]:
df_customers = pd.read_csv("../resources/customers.csv")
df_loans = pd.read_csv("../resources/loans.csv")
df_bureau = pd.read_csv("../resources/bureau_data.csv")

In [9]:
df=pd.merge(df_customers,df_loans,on="cust_id")

In [10]:
df=pd.merge(df,df_bureau)
df.head(3)

,cust_id,age,gender,marital_status,employment_status,income,number_of_dependants,residence_type,years_at_current_address,city,...,disbursal_date,installment_start_dt,default,number_of_open_accounts,number_of_closed_accounts,total_loan_months,delinquent_months,total_dpd,enquiry_count,credit_utilization_ratio
0,C00001,44,M,Married,Self-Employed,2586000,3,Owned,27,Delhi,...,2019-07-24,2019-08-10,False,1,1,42,0,0,3,7
1,C00002,38,M,Married,Salaried,1206000,3,Owned,4,Chennai,...,2019-07-24,2019-08-15,False,3,1,96,12,60,5,4
2,C00003,46,F,Married,Self-Employed,2878000,3,Owned,24,Kolkata,...,2019-07-24,2019-08-21,False,2,1,82,24,147,6,58

In [11]:
df["default"]=df["default"].astype(int)

In [12]:
df.default.value_counts()

default
0    45703
1     4297
Name: count, dtype: int64

In [13]:
X=df.drop("default",axis="columns")
y=df['default']
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,test_size=0.25,random_state=42)

In [14]:
df_train=pd.concat([X_train,y_train],axis="columns")
df_test=pd.concat([X_test,y_test],axis="columns")

In [15]:
df_train.shape

(37500, 33)